@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-sans: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* 전역에서 sans 사용 */
body {
    @apply font-sans;
}
